<!--     <title>Terry Creamer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link type="text/css" href="client/lib/bootstrap-social-icons/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles.css">
    
    <body>
 -->
         <nav class="navbar">
            <div class="container-fluid">
                <div class="row">
                    <!-- header -->
                    	<h3 class="text-center">Terry Creamer</h3>
                            <p class="profileDescription text-center">Aspiring Web Developer currently playing with open-source web application frameworks and continuous integration. Keep in touch using the social media accounts.
                            </p>
                </div>
                <div class="row">
                    <!-- profile -->
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <div class="profileImg col-xs-12 col-sm-3"> -->
                            <div class="profileImg col-xs-12">
                                <%= image_tag "profileImg.jpg", alt: "Terrys Profile Picture RAILS" %>
                            </div>
                           <div class="GroupSocialMedia">   <a href="https://www.linkedin.com/in/terencecreamer" class="btn azm-social azm-size-48 azm-r-square azm-linkedin" target="_blank"><i class="ion-social-linkedin"></i></a>
 <a href="https://www.facebook.com/TerenceCream" class="btn azm-social azm-size-48 azm-r-square azm-facebook" target="_blank">
 <i class="ion-social-facebook"></i>
 <!-- <i class="fa fa-facebook"></i> -->
 </a>
    <a href="https://twitter.com/terrycream" class="btn azm-social azm-size-48 azm-r-square azm-twitter" target="_blank"><i class="ion-social-twitter"></i></a>
 <a href="https://github.com/trycrmr" class="btn azm-social azm-size-48 azm-r-square azm-github" target="_blank"><i class="ion-social-github"></i></a> 
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center h6">
                        <p>Built with...</p>
                        <p> <a href="http://rubyonrails.org/" target="_blank" alt="Built using Rails">Rails</a>
                        </p>
                        <p><a href="https://www.heroku.com/" target="_blank" alt="Hosted with Heroku">Heroku</a>
                        </p>
                        <p><a href="http://getbootstrap.com/" target="_blank" alt="Styled with Bootstrap">Bootstrap</a>
                        </p>                        
                        <p><a href="http://ionicons.com/" target="_blank" alt="Social Media Icons">Ionicons</a>
                        </p>
                    </div>
                </div>
            </div>
        </nav>