<!--     <title>Terry Creamer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link type="text/css" href="client/lib/bootstrap-social-icons/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles.css">
    
    <body>
 -->
         <nav class="navbar">
            <div class="container-fluid">
                <div class="row">
                    <!-- header -->
                    	<h3 class="text-center">Welcome to Terry's Personal Site!</h3>

                </div>
                <div class="row">
                    <!-- profile -->
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <div class="profileImg col-xs-12 col-sm-3"> -->
                            <div class="profileImg col-xs-12">
                                <img src="profileImg.jpg" alt="Terrys Profile Picture">
                            </div>
                           <div class="GroupSocialMedia">   <a href="https://www.linkedin.com/in/terencecreamer" class="btn azm-social azm-size-48 azm-r-square azm-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
 <a href="https://www.facebook.com/TerenceCream" class="btn azm-social azm-size-48 azm-r-square azm-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/terrycream" class="btn azm-social azm-size-48 azm-r-square azm-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
 <a href="https://github.com/trycrmr" class="btn azm-social azm-size-48 azm-r-square azm-github" target="_blank"><i class="fa fa-github"></i></a> 
                            </div>                            
                            <div class="profileDescription">
                                <p>Terry recently has had the pleasure of using the Oracle WebCenter Product Suite (specifically Oracle WebCenter Content and Oracle WebCenter Portal) to build a document storage and search solution, assisting a Navy System Command with their rollout of Oracle WebCenter Portal, developing Java Server Pages/Components within Adobe CQ, implementing SharePoint 2010 solutions with his SCRUM Team, and performing Project Management/SDLC/508 Compliance activities on Business Intelligence/Data Warehousing project.</p>
                                <p>His work as an Adobe CQ Developer involved extending Adobe CQ to meet client requirements using Java to access Adobe CQ’s API and front-end web technologies (HTML, CSS, and JavaScript) to call and present the results (accounting for appropriate browser compatibility). Currently he is interested in helping his client’s take full advantage of their Enterprise and Web Content Management Systems to facilitate internal processes, enhance reporting capabilities, and service external stakeholders.</p>
                                <p>His next ambition is to gain experience standing up custom web applications to accommodate his interest in open source web frameworks (front and back-end) and different Platform as a Service offerings. Before starting in his current role with Deloitte Terry actively pursued his interest in website design, development, and web analytics. This site was built using an instance of MeteorJS (Blaze front-end) hosted on Heroku. Any thoughts on <a href="https://github.com/trycrmr" target="_blank">the code</a> would be much appreciated!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center h6">
                        <p>Credits (Thanks!)</p>
                        <p> <a href="https://www.meteor.com/features" target="_blank" alt="Built using MeteorJS">MeteorJS</a>
                        </p>
                        <p><a href="https://www.heroku.com/" target="_blank" alt="Hosted with Heroku">Heroku</a>
                        </p>
                        <p><a href="http://azmind.com/2015/02/05/bootstrap-social-icons/" target="_blank" alt="Social Media Icons">Social Media Icons</a>
                        </p>
                    </div>
                </div>
            </div>
        </nav>